html{
	background-color: black;
}

.wrapper{
	margin: 0 auto;
}

.background {
	max-width: 850px;
	height: 100%;
	margin: 0 auto;
	background-image: url(../images/futura.jpg);
	background-repeat: no-repeat;
	background-color: black;
	background-size: 100% auto;
}